@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
#About{
    background-color: black;
    color: white;
}

#About h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;    
    margin-top: 5%;
    margin-left: 15%;
    text-transform: uppercase;
}

#About h3:after {
    content: '';
    width: 0;
    background-color: rgb(53, 53, 166);
    display: block;
    height: 3px;
}

#About h3:after{
    content: '';
    margin-left: 0%;
    width: 18%;
}
#About p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left:15%;
    margin-top: -2%;
}
#About a{
    text-decoration: none;
    color: white;
}

.info {
    display: flex;
}

.content{
    background-color:black;
    margin-top: 10%;
    width: 100%;
    margin-left: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

.content b:after {
    content: '';
    width: 0;
    background-color: rgb(53, 53, 166);
    display: block;
    height: 3px;
}

.content b:after{
    content: '';
    width: 45%;
}

.content img{
    border-radius: 10%;
    margin-right: 15%;
    float: right;
    height: 600px;
    width: 450px;
}

@media only screen and (max-width: 768px) {
      
    .info{
        flex-direction: column;
        display: flex;
    }
     .content{
        flex: 1;
        width: 100%;
        background-color:black;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        /* position: 2; */
    }
    .content img{
        flex: 1;
        height: 500px;
        width: 370px;
        /* position: 1; */
    }
    .content b:after{
        content: '';
        width: 50%;
    }
    #About h3:after{
        content: '';
        margin-left: 0%;
        width: 35%;
    }

}