#Contact{
    background-image: url('../Images/18.jpg');
    background-size: cover;
    color: white;
    }

#Contact h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-left: 15%;
    text-transform: uppercase;
}

#Contact h3:after {
    content: '';
    width: 0;
    background-color: rgb(53, 53, 166);
    display: block;
    height: 3px;
}

#Contact h3:after{
    content: '';
    margin-left: 0%;
    width: 15%;
}

#Contact p{
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-bottom: 5%;

}

.column{
    float: left;
    width: 50%;
}

.connect:after{
    content: "";
    display: table;
    clear: both;
}
.connect h4{
    margin-top: 10%;
    margin-left: 25%;
    margin: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.connect h4:after{
    content: '';
    width: 0;
    background-color: rgb(53, 53, 166);
    display: block;
    height: 3px;
}

.connect h4:after{
    content: '';
    margin-left: 0%;
    width: 28%;
}

.column p{
    margin-top: -4%;
    margin-left: 10%;
}

.column img{
    margin-top: 15%;
    margin-left: 10%;
}

.column img:hover{
    transition: 0.5s;
    transform: scale(1.2);
    border-radius: 10%;
}