@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

#Skills{
    background-image: url('../Images/13.jpg');
    color: white;
    background-size: cover;
    width: auto;
}

#Skills h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 5%;
    margin-left: 15%;
    text-transform: uppercase;
}
    
#Skills h3:after {
    content: '';
    width: 0;
    background-color: rgb(53, 53, 166);
    display: block;
    height: 3px;
}

#Skills h3:after{
    content: '';
    margin-left: 0%;
    width: 8%;
}

#Skills p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left:15%;
    margin-top: 2%;
}

.list{
    text-align: center;
    display: flex;   
}

.list1 {
    margin-left: 13.5%;
    margin-top: 10%;
    font-family: 'Silkscreen', sans-serif;
}

.list1:hover {
    background-color: transparent;
    transition: 0.5s;
    transform: scale(1.2);
    border-radius: 10%;
}

.list2 {
    margin-left:14%;
    margin-top: 5%;
    font-family: 'Silkscreen', sans-serif;
}

.list2:hover {
    background-color: transparent;
    transition: 0.5s;
    transform: scale(1.2);
    border-radius: 10%;
}


@media only screen and (max-width: 768px) {

    .list{
        flex-direction:column;
        text-align: center;
        width: auto;
    }
    .list2{
        width: auto;
        margin-left:15%;
        margin-top: 5%;
        font-family: 'Silkscreen', sans-serif;
    }

    #Skills h3:after{
        content: '';
        margin-left: 0%;
        width: 32%;
    }
}